$accent-green: #00dd7c;
$accent-green-hover: #01c46f;
$secondary-green: #A6FFD8;
$black: #2e2931;
$black-hover: #57515a;
$accent-red : #FFA192; 
$accent-red-hover : #ff7a66;
$background-grey: #F5F5F5; 
$sand-grey: #766b69;